* {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

textarea {
  resize: none;
}

.gallery {
  display: flex;
  margin: 0;
  padding: 0;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.gallery-image {
  height: auto;
  width: 400px;
  object-fit: cover;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.email, .message {
  display: flex;
  flex-direction: column;
}

.email {
margin-bottom: 10px;
}

.btn {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}